
<div>
   <div>Logo</div>
   <div>
      <button [routerLink]="''">HomePage</button>
      <!-- Add RouterLink to imports in app.components.ts to make it work -->
      <button [routerLink]="'place-appointment'">Place Appointment</button>
      <button [routerLink]="'view-appointment'">View Appointment</button>
      <button [routerLink]="'contact-us'">Contact Us</button>
   </div>
</div>
<router-outlet></router-outlet>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis impedit dolores iure tempora eligendi cupiditate enim. Libero ab eligendi, corrupti, ex itaque, veritatis sunt ipsum vero quam suscipit dolor! Laudantium!</p>
<div>
   <div>
    <div>
      <button (click)="navpage()">Apply For Trainer</button>
    </div>
    <div>
      <h2>Useful Links</h2>
      <a>HomePage</a>
      <a>Place Appointment</a>
      <a>View Appointments</a>
      <a>Contact us</a>
   </div>
   <div>
     <h2>Contact Us</h2>
     <p>Company Name</p>
     <p>Company Address</p>
     <p>Company Mobile</p>
     <p>Company Location</p>
   </div>
   <div> 
      <p>Trademark &register</p>
   </div>
   </div>
</div>

